{% extends "master.html" %}
{% block title %}Game{% endblock %}
{% block game %}
<div id="spacer"/>

<div id="left_opponent">
  <h3 class="first">Opponent1</h3>
</div>

<div id="right_opponent">
  <h3 class="first">Opponent2</h3>
</div>

<div id="gameheader">
  <h1>Waiting for players</h2>
</div>

<div id="bank">
  <img id="bank1" src="/images/cards/S2.gif">
  <img id="bank2" src="/images/cards/S2.gif">
  <img id="bank3" src="/images/cards/S2.gif">
</div>

<div id="cards">
  <img class="card" src="/images/cards/S2.gif">
  <img class="card" src="/images/cards/S2.gif">
  <img class="card" src="/images/cards/S2.gif">
  <img class="card" src="/images/cards/S2.gif">
  <img class="card" src="/images/cards/S2.gif">
  <img class="card" src="/images/cards/S2.gif">
  <img class="card" src="/images/cards/S2.gif">
  <img class="card" src="/images/cards/H2.gif">
  <img class="card" src="/images/cards/H2.gif">
  <img class="card" src="/images/cards/H2.gif">
</div>

<div id="gamemenu">
  <h3 class="first">Game menu</h3>
</div>
{% endblock %}