{% extends "master.html" %}
{% block title %}Game{% endblock %}
{% block game %}
<div id="spacer"></div>

<div id="left_opponent" class="player_box">
      <h3 class="first" id="opponent1_username"></h3>
      <span class="slogan" id="opponent1_points"></span><br/>
      <span id="opponent1_info"></span></br>
      <span id="opponent1_turn"></span>
</div>

<div id="right_opponent" class="player_box">
    <h3 class="first" id="opponent2_username"></h3>
    <span class="slogan" id="opponent2_points"></span><br/>
    <span id="opponent2_info"></span><br/>
    <span id="opponent2_turn"></span>
</div>

<div id="game_header">
  <h2 id="info_header"></h2>
</div>

<div id="bank">
  <img id="bank2" onclick="retrieve(this)"/>
  <img id="bank3" onclick="retrieve(this)"/>
  <img id="bank1" onclick="retrieve(this)"/>
</div>

<div id="your_player" class="player_box">
  <h3 class="first" id="player_username"></h3>
  <span class="slogan" id="player_points"></span><br/>
  <span id="player_info"></span><br/>
  <span id="player_turn"></span><br/><br/>
  <span id="trump"></span>
</div>

<div id="cards">
  <div id="cards_inner">
    <img class="card" id="card1" onclick="put(this)"/>
    <img class="card" id="card2" onclick="put(this)"/>
    <img class="card" id="card3" onclick="put(this)"/>
    <img class="card" id="card4" onclick="put(this)"/>
    <img class="card" id="card5" onclick="put(this)"/>
    <img class="card" id="card6" onclick="put(this)"/>
    <img class="card" id="card7" onclick="put(this)"/>
    <img class="card" id="card8" onclick="put(this)"/>
    <img class="card" id="card9" onclick="put(this)"/>
    <img class="card" id="card10" onclick="put(this)"/>
  </div>
</div>

<div id="gamemenu">
  <h3 class="first">Game menu</h3>
  <input id="start" type="submit" value="Start" onclick="post('start')"/>
  <input id="open" type="submit" value="Open" onclick="post('open')"/>
  <input id="blind" type="submit" value="Blind" onclick="post('blind')"/><br/>
  <input id="last" type="submit" value="Last trick" onmousedown="showLast()"onmouseup="hideLast()">
  <select id="bettings"></select>
  <input id="bet" type="submit" value="Bet" onclick="bet()"/>
  <input id="pass" type="submit" value="Pass" onclick="post('pass')"/><br/>
  <input id="collect" type="submit" value="Collect" onclick="post('collect')"/>
  <input id="leave" type="submit" value="Leave" onclick="leave()"/>
</div>

<script type="text/javascript" src="/js/ajax.js"></script>
<script type="text/javascript" src="/js/game.js"></script>
<script type="text/javascript">update();</script>
{% endblock %}