<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Curiously Green
Version    : 1.0
Released   : 20080425

-->
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>1000 Online - {% block title %}Main{% endblock %}</title>
<meta name="keywords" content="cards 1000 thousand online web game" />
<meta name="description" content="Web based online card game - 1000" />
<link rel="stylesheet" type="text/css" href="/styles/default.css" />
</head>
<body>

<div id="header">
  <div id="header_inner">
    <h1><span>1000</span>.online</h1>
    <div id="slogan">Web-based online card game.</div>
  </div>
</div>

<div id="main">
  <div id="lcol">
    <div id="menu">
      <ul>
        {% block menu %}{% endblock %}
      </ul>
    </div>
    
    {% include "registration/login_box.html" %}
    
    <div id="lcontent">
    </div>
  </div>
  
  <div id="rcol">
    <div id="rcontent">
    {% block content %}{% endblock %}
    </div>
  </div>
</div>

<div id="footer">
    &copy; 2010 1000.online. All rights reserved. Developed by <a href="mailto:vycas0@gmail.com">Vycas</a>. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> + <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.
</div>

</body>
</html>
