{% extends "master.html" %}
{% block title%}Welcome{% endblock %}
{% block menu %}{% include "menu_welcome.html" %}{% endblock %}
{% block content %}
<h1>1000<span>.online</span></h1>
<span id="slogan2">web-based online card game</span>

<h3>What.is.<span>1000?</span></h3>
<p>This excellent three-player game is well known in several Eastern European countries, including Russia, Belorus, Ukraine, Kazakhstan, Poland and Lithuania. For more information please read the <a href="http://www.pagat.com/marriage/1000.html">rules</a>.</p>

<h3>About.<span>the.project</span></h3>
<p>This project was started as part of Python course at my university. I needed the topic for the project so I have chosen this game because I know and like it very much. My friend and I play this game very often during breaks and lectures. We find it very addictive. So I realized that it would be great idea to be able to play it online. This way we could play anywhere! And finally I could deliver this game to masses of people.
</p>
{% endblock %}
